<header>
    <div class="header-container">
        <div class="logo">
            <a href="/index.html" class="brand">
                <img src="/public/images/plane.png" alt="plane logo" />
                Vacation<span class="highlight">Easier</span>
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <button id="menu-toggle" aria-label="Toggle Navigation">
            <img src="/public/images/hamburger.png" alt="menu icon">
        </button>

        <!-- Mobile Navigation -->
        <nav id="mobile-nav" class="mobile-nav hidden">
            <a href="/index.html">Home</a>
            <a href="/poi.html">Points of Interest</a>
            <a href="/currency.html">Currency Info</a>
        </nav>

        <!-- Desktop Navigation -->
        <nav class="top-nav">
            <a href="/index.html">Home</a>
            <a href="/poi.html">Points of Interest</a>
            <a href="/currency.html">Currency Info</a>
        </nav>
    </div>
</header>